.header nav a {
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.header nav a:hover {
    color: orange;
}

.display-name {
    color: red;
    font-size: 20px;
    margin: 10px;
}